certifi==2025.1.31
charset-normalizer==3.4.1
DateTime==5.5
docutils==0.21.2
dotenv==0.9.9
filetype==1.2.0
idna==3.10
iniconfig==2.0.0
Kivy==2.3.1
Kivy-Garden==0.1.5
packaging==24.2
pillow==11.1.0
pluggy==1.5.0
Pygments==2.19.1
pytest==8.3.4
python-dotenv==1.1.0
pytz==2025.1
requests==2.32.3
setuptools==75.8.0
urllib3==2.3.0
zope.interface==7.2
